/******************************

SWATCHES:

#333333
#ffffff
#e1f4f3
#706c61

*******************************/
body {
  background-image: url("../images/spiration-light.png");
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Georgia', Times, 'Times New Roman', serif;
  color: #333333;
  padding: 15px;
  margin: 0;
}

p {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #333333;
  font-size: 16px;
  line-height: 1.5;
}

hr {
  border-style: solid;
  border-color: #333333;
}

li a {
  display: block;
  width: 60px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #333333
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/************
To center a fixed-width div, I set the left and right margins to auto
*************/
.header {
  background-color: #e1f4f3;
  text-align: center;
  float: left;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}

/**************
Navigation bar
**************/
.topnav {
  background-color: #ffffff;
  width: 480px;
}

.topnav a {
  float: right;
  color: #333333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #e1f4f3;
  color: #333333;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #e1f4f3;
  color: white;
}

/************
To center a fixed-width div, I set the left and right margins to auto
*************/
.content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 10px;
  width: 940px;
  background-color: #e1f4f3;
}

.about-text {
  margin: 0;
  padding: 0 40px 0 10px;
  float: left;
}

.headshot {
  height: 250px;
  padding: 18px;
  border-radius: 50%;
  float: left;
}

.header-container {
  background-color: white;
}

.container1 {
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.container2 {
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}

.flex-container2 {
  display: flex;
  flex-wrap: left;
  margin: 0;
}

.footer {
  margin-left: 0;
  margin-right: 0;
  padding-top: 20px;
  text-align: center;
  background-color: #e1f4f3;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  z-index: 4;
}

.content-hr {
  width: 910px;
}

.footer-hr {
  margin: 0;
  border-style: solid;
  border-width: 10px;
  color: ##333333;
  position: fixed;
  bottom: 60px;
  width: 100%;
  z-index: 3;
}

.header-hr {
  margin-top: 0;
  border-style: solid;
  border-width: 1px;
  color: #333333;
  position: fixed;
  top: 66px;
  width: 100%;
}

form {
  margin: 20px 0 10px 15px;
}

input {
  width: 860px;
  padding: 12px 20px;
}

.message {
  margin-left: 15px;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.form-text {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

textarea {
  margin-left: 15px;
  width: 900px;
  border-color: lightgrey;
}

button {
  background-color: #333333;
  margin: 15px;
  width: 100px;
  height: 50px;
  color: #e1f4f3;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 20px;
}

button:hover {
  background-color: #706c61;
}

.portfolio-img {
  margin: 20px 20px 20px 15px;
  width: 30%;
}

/* Container holding the image and the text */
.portfolio-container {
  position: relative;
  display: inline;
}

.text-block-left {
  position: absolute;
  background-color: teal;
  z-index: 1;
  margin-left: 15px;
  margin-top: -110px;
  width: 282px;
  text-align: center;
}

.text-block-right {
  position: absolute;
  background-color: teal;
  z-index: 1;
  margin-left: 336px;
  margin-top: -110px;
  width: 282px;
  text-align: center;
}

.p-overlay {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #e1f4f3;
}

/* ***************************************************************
MEDIA QUERIES
*************************************************************** */
@media (max-width: 980px) {
  .content {
    margin: 30px 0 0 30px;
    width: 60%;
    position: relative;
  }

  .container1 {
    margin-left: 30px;
  }

  .container2 {
    width: 95%;
  }

  .headshot {
    height: 150px;
    padding: 15px;
    border-radius: 50%;
    float: left;
  }

  .content-hr {
    width: 93%;
  }

  .header {
    float: none;
    text-align: center;
    width: 50%;
  }

  input {
    width: 85%;
    padding: 12px 20px;
  }

  textarea {
    width: 90%;
  }

  .portfolio-container {
    display: inline;
  }

  .portfolio-img {
    position: relative;
    margin: 10px 10px 10px 15px;
    width: 42%;
  }

  .text-block-left {
    position: absolute;
    background-color: teal;
    z-index: 1;
    margin-left: 5%;
    margin-top: -35%;
    width: 91%;
    text-align: center;
  }

  .text-block-right {
    position: absolute;
    background-color: teal;
    z-index: 1;
    margin-left: 107%;
    margin-top: -35%;
    width: 91%;
    text-align: center;
  }
}

@media (max-width: 768px) {

  .container1 {
    margin: 0
  }

  h1 {
    font-size: 1.5em;
  }

  .content {
    margin: 5% auto;
    width: 90%;
    position: relative;
  }

  .container2 {
    width: 90%;
  }

  .headshot {
    height: 200px;
    padding: 15px;
    border-radius: 50%;
    float: left;
  }

  .content-hr {
    width: 93%;
  }

  .header {
    float: none;
    text-align: center;
    width: 50%;
  }

  .topnav {
    float: none;
    text-align: center;
    width: 100%;
  }

  .about-text {
    padding: none;
    width: 92%;
  }

  .topnav {
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    position: relative;
  }

  .mini-nav {
    display: inline;
    width: 50%;
    position: relative;
    right: 40%;
  }

  li a {
    display: inline;
    width: 60px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #333333
  }

  .topnav a {
    float: right;
    color: #333333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .header-hr {
    margin-top: 0;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    position: absolute;
    top: 58px;
    width: 100%;
  }

  input {
    width: 85%;
    padding: 12px 20px;
  }

  textarea {
    width: 90%;
  }

  .portfolio-container {
    display: inline;
  }

  .portfolio-img {
    position: relative;
    margin: 20px 20px 20px 15px;
    width: 40%;
  }

  .text-block-left {
    position: absolute;
    background-color: teal;
    z-index: 1;
    margin-left: 4.8%;
    margin-top: -35%;
    width: 87.3%;
    text-align: center;
  }

  .text-block-right {
    position: absolute;
    background-color: teal;
    z-index: 1;
    margin-left: 107%;
    margin-top: -35%;
    width: 87.3%;
    text-align: center;
  }
}

@media (max-width: 640px) {
  h1 {
    font-size: 2em;
  }

  .container1 {
    width: 100%;
    position: relative;
    display: block;
    margin: 0
  }

  .content {
    margin: 5% auto;
    width: 90%;
    position: relative;
  }

  .container2 {
    width: 90%;
  }

  .headshot {
    height: 175px;
    padding: 15px;
    border-radius: 50%;
    float: left;
  }

  .content-hr {
    width: 93%;
  }

  .header {
    float: none;
    text-align: center;
    width: 100%;
  }

  .topnav {
    float: none;
    text-align: center;
    width: 100%;
  }

  .about-text {
    padding: none;
    width: 92%;
  }

  .topnav {
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    position: relative;
  }

  .mini-nav {
    display: inline;
    width: 50%;
    position: relative;
    right: 25%;
  }

  li a {
    display: inline;
    width: 60px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #333333
  }

  .topnav a {
    float: right;
    color: #333333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .header-hr {
    margin-top: 0;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    position: absolute;
    top: 66px;
    width: 100%;
  }

  input {
    width: 85%;
    padding: 12px 20px;
  }

  textarea {
    width: 90%;
  }

  .portfolio-container {
    display: block
  }

  .portfolio-img {
    position: relative;
    margin: 20px 20px 20px 15px;
    width: 90%;
  }

  .text-block-left {
    position: absolute;
    background-color: teal;
    z-index: 1;
    margin-left: 15px;
    margin-top: -110px;
    width: 90%;
    text-align: center;
  }

  .text-block-right {
    position: absolute;
    background-color: teal;
    z-index: 1;
    margin-left: 15px;
    margin-top: -110px;
    width: 90%;
    text-align: center;
  }

  /* .p-overlay {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.5em;
    color: #e1f4f3;
  } */
}
